{
  storage postgresql {
    dsn "postgres://postgres:@localhost:5432/postgres?sslmode=disable"
    debug_locks
  }
  log {
    level DEBUG
  }
}

test.localhost {
  respond /health 200 {
    body "ok"
  }
}
